.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  width: 320px;
  -webkit-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.avatar {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border: 0.3px solid lightgray;
  border-radius: 10px;
}

.name {
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.667;
}
